*
    {
        margin: 0;
        padding: 0;
        outline: 0;
    }
html
    {
        scroll-behavior: smooth;
    }
@font-face
    {
        font-family: springfield;
        src: url(font/Springfield\ demo.ttf);
    }
@font-face
    {
        font-family: yeseva;
        src: url(font/YesevaOne-Regular.ttf)
    }
@font-face
    {
        font-family: dk;
        src: url(font/DK\ Longreach.otf)
    }
@font-face
    {
        font-family: libel;
        src: url(font/libel-suit-rg.ttf)
    }
@font-face
    {
        font-family: dayrom;
        src: url(font/DAYROM__.ttf), url(font/DAYROM_X.ttf)
    }
@font-face
    {
        font-family: bubble;
        src: url(font/Bubblegum.ttf)
    }

/*page_index*/
.page_index
    {
        background: linear-gradient(90deg,#00dfc0 50%, #01b399 0%);
        
    }
.index
    {
        display: flex;
        height: 100vh;
    }
.presentation
    {
        color: #ffffff;
        position: relative;
        width: 500px;
        margin: auto;
        padding: 40px 0 20px 0;
        border-top: solid 3px;
        border-bottom: solid 3px;
        font-weight: 900;
    }
.perso
    {
        text-align: justify;
        font-family: yeseva, sans-serif;
        font-size: 2rem;
        line-height: 1;
    }
.by 
    {
        color: #2a2e33;
        padding-right: 35px;
        text-align: right;
        font-family: springfield, sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
    }
.presentation::before
    {
        content: "”";
        position: absolute;
        right: 30px;
        bottom: -43px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 13rem;
        line-height: 0;
        
    }
.presentation::after
    {
        content: "”";
        position: absolute;
        bottom: 340px;
        left: 30px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 13em;
        line-height: 0;
        transform: rotate(180deg);
    }
.page_next
    {
        position: absolute;
        width: 50px;
        margin: 10% 45% 0;
        transition: transform 0.5s ease;
    }
.page_next:hover
    {
       transform: scale(1.4) translateY(14px);
       transition-duration: 1s;
    }

/* PAGE_MENU */
.page_back
    {
        position: absolute;
        margin: 5%;
        transition: transform 0.5s ease-in;
    }
.page_back:hover
    {
        transform: scale(1.1) rotate(-15deg);
        transition-duration: 0.5s;
    }
.next_page_contact
    {
        position: absolute;
        margin: 5% 0 0 92%;
        transition: transform 0.5s ease-in;
    }
.next_page_contact:hover
    {
        transform: scale(1.1) rotate(15deg);
    }
.page_menu
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        margin: 0 5%;
    }
.barre_horizontal
    {
        background-color: #E9E9E9;
        height: 95%;
        width: 5px;
        border-radius: 100%;
    }
.img_menu
    {
        height: auto;
        width: 100%;
        max-width: 750px;
    }
.lien_text
    {
        color: #00dfc0;
        position: absolute;
        margin-top: -150px;
        margin-left: 180px;
        text-decoration: none;
        text-shadow: 8px 8px 0 #01b399;
        font-family: bubble, sans-serif;
        font-size: 4rem;
        transition: transform 0.5s ease-in;
    }
.lien_menu:hover .lien_text
    {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }

/* BARRE_DE_NAVIGATION */
.barre_menu
    {
        position: sticky;
        width: 100%;
        text-align: center;
        font-family: dk, sans-serif;
        font-size: 2.5rem;
    }
.menu
    {
        display: flex;
        list-style-type: none;
    }
.menu li
    {
        position: relative;
        flex: 1 1 33%;
    }
nav a
    {
        color: black;
        background-color: #01b399;
        display: block;
        padding: 14px 0px;
        text-decoration: none;
    }
nav a:hover
    {
        background-color: #00dfc0;
    }
.sous
    {
        display: none;
        position: absolute;
        z-index: 2;
        width: 100%;
    }
.menu li:hover .sous
    {
        display: flex;
        flex-flow: column wrap;
    }
.sous li
    {
        flex: 1 1 33%;
        text-align: center;
    }
.sous a:hover
    {
        background-color: #00dfc0;
    }
.menu_active
    {
        background-color: #EDEDED;
    }

/* FOOTER */
.page_top
    {
        display: flex;
        margin: 2% 0;
    }
.page_top a
    {
        margin: 0.5% auto;
    }
.page_top a:hover
    {
        transform: scale(1.2);
        transition-duration: 1s;
    }

/* PAGE_EXPOSITION */
.page_expo
    {
        background-color: #EDEDED;
    }
.background_slider
    {
        display: flex;
        position: fixed;
        z-index: -1;
        margin: 9% 0;
        margin-left: -10%;
        animation: 0s linear 2s infinite alternate fond_img; 
        /* désactiver pour cause de ralentissement. modif: 0s-180s */
    }
.back_img
    {
        width: 25%;
        height: auto;
        margin: 0.5%;
    }
@keyframes fond_img
    {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-150%);
        }
        100%{
            transform: translateX(0);
        }
    }
.expo 
    {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 4% auto 0;
        padding: 2%;
        text-align: justify;
    }
.expo h1
    {
        margin: 2% 0;
        padding: 2% 0;
        border: 5px solid black;
        text-align: center;
        font-family: libel, sans-serif;
        font-size: 3rem;
    }
.eb_logo
    {
        float: left;
        margin: 0 4%;
        border-radius: 10px;
    }
.lien_expo
    {
        text-decoration: none;
    }
.expo p
    {
        margin: 2% 0;
        font-family: dayrom, sans-serif;
        font-size: 1.8rem;
    }
.img_projection
    {
        float: right;
        margin: 2% 1% 2% 4%;
        border: 2px solid #000000;
        border-radius: 10px 0;
        box-shadow: 5px 5px 0px #000000;
    }
.video
    {
        margin: 0 auto;
    }

/* CARROUSEL_PAGE_EXPO */
.carrousel
    {
        width: 100%;
        max-width: 850px;
        height: auto;
        margin: 2% auto;
        border: 4px solid white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
.banniere
    {
        width: calc(300%*3);
        animation: mouve 20s infinite;
    }
.slide_img
    {
        float: left;
    }
@keyframes mouve 
    {
        0% {
            transform: translateX(0);
        }
        11% {
            transform: translateX(0);
        }
        22% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-850px);
        }
        44% {
            transform: translateX(-850px);
        }
        55% {
            transform: translateX(-850px);
        }
        66% {
            transform: translateX(-1700px);
        }
        77% {
            transform: translateX(-1700px);
        }
        88% {
            transform: translateX(-1700px);
        }
        100% {
            transform: translateX(0);
        }
    }

/* PAGE_INTERVIEW */
.page_interview
    {
        background-color: #EDEDED;
    }
.interview
    {
        background-color: #ffffff;
        width: 60%;
        margin: 2% auto;
        padding: 1%;
        text-align: justify;
        font-family: dayrom, sans-serif;
        font-size: 1.8rem;
    }
.introduction
    {
        margin: 4% 0 2%;
        padding: 0 2%;
        font-size: 1.5rem;
    }
.button_survol
    {
        position: absolute;
        width: 0.8%;
        margin-top: -1.4%;
        margin-left: 2%;
        padding: 0.5% 0.5% 10% 0.5%;
    }
.suite_introduction
    {
        display: none;
        margin: 0 0 3% 0;
        padding: 0 2%;
    }
.survol
    {
        margin: 2%;
    }
.survol:hover .suite_introduction
    {
        display: flex;
    }
.personne
    {
        display: flex;
    }
.personne h1
    {
        margin: 4% auto;
        text-align: center;
        font-family: yeseva, sans-serif;
    }
.typo_person
    {
        display: block;
        height: auto;
        width: 80%;
        margin: 2% auto;
    }
.question
    {
        padding: 1% 0;
        border-bottom: 4px solid black;
        border-top: 4px solid black;
        border-radius: 15px;
        text-align: center;
        font-family: dk, sans-serif;
        font-size: 2rem;
    }
.reponse
    {
        display: flex;
    }
.contenu_1, .contenu_2, .contenu_3
    {
        flex: 1 1 33%;
        margin: 0 1.5%;
        padding: 3% 2%;
        font-size: 1.5rem;
    }
.contenu_1
    {
        background-color: #01b399;
    }
.contenu_2
    {
        background-color: #7ff2e5;
    }
.contenu_3
    {
        background-color: #00dfc0;
    }
.coin_page
    {
        position: absolute;
        width: 2%;
        margin-top: -0.1%;
        margin-left: 15.1%;
    }
.conclusion
    {
        margin: 4% 0 5%;
        padding: 0 2%;
    }
.interview h1
    {
        margin: 5% 0 2%;
        text-align: center;
        font-family: yeseva, sans-serif;
    }

/* PAGE_CONTACT */
.page_contact
    {
        background-color: #EDEDED;
    }
.contact
    {
        display: flex;
        height: 90vh;
    }
.attention
    {
        position: absolute;
        transform: rotate(-35deg);
    }
.cadre
    {
        width: 500px;
        margin: auto;
        padding: 1%;
        border: 20px solid #00dfc0;
        box-shadow: 12px -12px 0 #01b399, -12px 12px 0 #01b399;
    }
.formulaire
    {
        background-color: #ffffff;
        padding: 3% 10%;
        text-align: center;
        font-family: yeseva,sans-serif;
        font-size: 1.6rem;
    }
.satisfait
    {
        margin: 7% auto; 
    }
.satif 
    {
        font-family: dk, sans-serif;
        font-size: 2.5rem;
    }
.rep_satif
    {
        font-size: 1.3rem;
    }
.interessant
    {
        margin: 5%;
        font-size: 1.3rem;
    }
#liste
    {
        background-color: #EDEDED;
        margin: 5px;
        padding: 6px;
        border: none;
    }
.cadre_avis
    {
        padding: 10%;
        border: 2px solid #01b399;
    }
#avis
    {
        padding: 0 10px;
        font-family: dk, sans-serif;
        
    }
.e_mail, .comment
    {
        font-size: 1.2rem;
    }
#e_mail, #comment
    {
        background-color: #EDEDED;
        padding: 2%;
        border: none;
        resize: none;
    }
#e_mail::placeholder, #comment::placeholder
    {
        color: #ffffff;
    }
#e_mail:hover, #comment:hover
    {
        background-color: #c7f8f5;
    }
.envoyer
    {
        background-color: #c7f8f5;
        margin: 3%;
        padding: 5px 10px;
        border: none;
        box-shadow: 2px 2px 0 #00dfc0;
        font-family: dk, sans-serif;
        font-size: 1.4rem;
    }
.envoyer:hover
    {
        box-shadow: -2px -2px 0 #00dfc0;
    }
.envoyer:active
    {
        background-color: #7ff2e5;
        box-shadow: none;
    }
.source
    {
        margin-top: 3%;
        text-align: center;
    }