*{
        margin: 0;
    }
@font-face
    {
        font-family: springfield;
        src: url(font/Springfield\ demo.ttf);
    }
@font-face
    {
        font-family: yeseva;
        src: url(font/YesevaOne-Regular.ttf)
    }
@font-face
    {
        font-family: dk;
        src: url(font/DK\ Longreach.otf)
    }
@font-face
    {
        font-family: libel;
        src: url(font/libel-suit-rg.ttf)
    }
@font-face
    {
        font-family: dayrom;
        src: url(font/DAYROM__.ttf), url(font/DAYROM_X.ttf)
    }
@font-face
    {
        font-family: bubble;
        src: url(font/Bubblegum.ttf)
    }

/*page_index*/
.page_index
    {
        background: linear-gradient(90deg,#00dfc0 50%, #01b399 0%);
    }
.index
    {
        display: flex;
        height: 100vh;
    }
.presentation 
    {
        position: relative;
        font-weight: 900;
        padding: 40px 0 20px 0;
        width: 500px;
        margin: auto;
        border-top: solid 3px;
        border-bottom: solid 3px;
        color: #ffffff;
    }
.text 
    {
        font-family: yeseva, sans-serif;
        font-size: 32px;
        text-align: justify;
        line-height: 1;
        margin: 0;
    }
.by 
    {
        color: #2a2e33;
        font-family: springfield, sans-serif;
        font-size: 35px;
        font-weight: normal;
        text-align: right;
        margin: 0;
        padding-right: 35px;
    }
.presentation::before
    {
        position: absolute;
        content: "”";
        font-family: 'Segoe UI', sans-serif;
        font-size: 200px;
        line-height: 0;
        bottom: -43px;
        right: 30px;
    }
.presentation::after
    {
        position: absolute;
        content: "”";
        font-family: 'Segoe UI', sans-serif;
        font-size: 200px;
        line-height: 0;
        bottom: 335px;
        left: 30px;
        transform: rotate(180deg);
    }
.arrow
    {
        position: absolute;
        width: 50px;
        margin: 50px 225px 0;
    }
.arrow:hover
    {
       transform: scale(1.4) translateY(10px);
       transition-duration: 1s;
    }

/*page_menu*/
.retour
    {
        position: absolute;
        margin: 80px
    }
.retour:hover
    {
        transform: rotate(-15deg);
        transition-duration: 1s;
    }
.page_menu
    {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: space-around;
        margin: 0 5%;
    }
.barre_horizontal
    {
        height: 95%;
        width: 5px;
        background-color: #E9E9E9;
        border-radius: 100%;
    }
.bottom
    {
        position: absolute;
        font-size: 60px;
        text-decoration: none;
        font-family: bubble, sans-serif;
        color: #00dfc0;
        text-shadow: 8px 8px 0 #01b399;
        margin-left: 180px;
        margin-top: -160px;
        transition: transform 0.5s ease-in;
    }
.lien_menu:hover .bottom
    {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
/*barre de navigation*/
.nav
    {
        display: flex;
        background-color: #01b399;
        font-family: dk, sans-serif;
        font-size: 40px;
        text-align: center;

    }
.nav a
    {
        color: #000000;
        text-align: center;
        padding: 14px 0;
        width: 33%;
        text-decoration: none;
    }
.nav a:hover
    {
        background-color: #00dfc0;
    }
.active
    {
        background-color: #EDEDED;
    }
.deroulant, .sous a
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
.sous
    {
        display: none;
    }
.deroulant:hover .sous
    {
        display: block;
    }
/*page_exposition*/
.page_expo
    {
        background-color: #EDEDED;
    }
.background_slider
    {
        display: flex;
        margin: 9% 0;
        margin-left: -250px;
        position: fixed;
        z-index: -1;
        animation: 0s linear 2s infinite alternate fond_img; /* désactiver pour cause de ralentissement. modif: 0s-180s */
    }
.back_img
    {
        margin: 15px;
        width: 500px;
        height: auto;
    }
@keyframes fond_img
    {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-2040px);
        }
        100%{
            transform: translateX(0);
        }
    }
.expo 
    {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 4% auto 0;
        padding: 50px;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.8);
    }
.expo h1
    {
        text-align: center;
        font-size: 45px;
        margin: 25px 0;
        padding: 20px 0;
        border: 5px solid black;
        font-family: libel, sans-serif;
    }
.expo p
    {
        margin: 20px 0;
        font-family: dayrom, sans-serif;
        font-size: 30px;
    }

/*image page expo*/
.eb_logo
    {
        float: left;
        margin: 0 50px;
        border-radius: 10px;
    }
.slider
    {
        margin: 20px 0;
        overflow: hidden;
        border: 4px solid white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
.banniere
    {
        width: calc(864px*3);
        animation: mouve 20s infinite;
    }
.slide
    {
        float: left;
    }
@keyframes mouve 
    {
        0% {
            transform: translateX(0);
        }
        11% {
            transform: translateX(0);
        }
        22% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-864px);
        }
        44% {
            transform: translateX(-864px);
        }
        55% {
            transform: translateX(-864px);
        }
        66% {
            transform: translateX(-1728px);
        }
        77% {
            transform: translateX(-1728px);
        }
        88% {
            transform: translateX(-1728px);
        }
        100% {
            transform: translateX(0);
        }
    }
.img_projection
    {
        margin: 20px 10px 20px 40px;
        float: right;
        border: 2px solid #000000;
        border-radius: 10px 0;
        box-shadow: 5px 5px 0px #000000;
    }
.video
    {
        margin: 10px auto;
    }
.nav_bas_expo
    {
        margin: 25px 0;
        display: flex;
        flex-direction: column;
    }
.nav_bas_expo a
    {
        margin: 10px auto;
    }
.nav_bas_expo a:hover
    {
        transform: scale(1.2);
        transition-duration: 1s;
    }

/* page intervieuw */
.page_interview
    {
        background-color: #EDEDED;
    }
.interview
    {
        width: 60%;
        padding: 20px;
        margin: 50px auto;
        text-align: justify;
        font-size: 30px;
        background-color: #ffffff;
        font-family: dayrom, sans-serif;
    }
.introduction
    {
        margin: 50px 0;
        padding: 0 20px;
    }
.personne
    {
        display: flex;
    }
.personne h1
    {
        text-align: center;
        
    }
.question
    {
        text-align: center;
        padding: 10px 0;
        border: 4px solid black;
        border-radius: 10px;
        font-family: dk, sans-serif;
    }
.reponse
    {
        display: flex;
    }
.contenu_1, .contenu_2, .contenu_3
    {
        width: 33%;
        margin: 0 15px;
        padding: 40px 15px;
    }
.typo_person
    {
        width: 250px;
        height: auto;
        display: block;
        margin: 20px auto;
    }
.contenu_1
    {
        background-color: #01b399;
    }
.contenu_2
    {
        background-color: #7ff2e5;
    }
.contenu_3
    {
        background-color: #00dfc0;
    }
.page_interview h1
    {
        text-align: center;
        margin: 10px;
        font-family: yeseva, sans-serif;
    }