*
    {
        margin: 0;
    }
@font-face
    {
        font-family: springfield;
        src: url(font/Springfield\ demo.ttf);
    }
@font-face
    {
        font-family: vague;
        src: url(font/nouvelle_vague_final.ttf)
    }
@font-face
    {
        font-family: dk;
        src: url(font/DK\ Longreach.otf)
    }
@font-face
    {
        font-family: libel;
        src: url(font/libel-suit-rg.ttf)
    }
@font-face
    {
        font-family: dayrom;
        src: url(font/DAYROM__.ttf), url(font/DAYROM_X.ttf)
    }
/*page_index*/
.page_index
    {
        background: linear-gradient(90deg,#00dfc0 50%, #01b399 0%);
        overflow: hidden;
    }
.index
    {
        display: flex;
        height: 100vh;
    }
.presentation 
    {
        position: relative;
        font-weight: 900;
        padding: 40px 0 20px 0;
        width: 500px;
        margin: auto;
        align-self: center;
        border-top: solid 3px;
        border-bottom: solid 3px;
        color: #ffffff;
    }
.text 
    {
        position: relative;
        font-family: vague, sans-serif;
        color: #FFFFFF;
        font-size: 32px;
        text-align: justify;
        line-height: 1;
        margin: 0;
    }
.by 
    {
        position: relative;
        color: #2a2e33;
        font-family: springfield, sans-serif;
        font-size: 35px;
        font-weight: normal;
        text-align: right;
        margin: 0;
        padding-right: 15px;
    }
.presentation::before
    {
        position: absolute;
        content: "”";
        font-family: 'Segoe UI', sans-serif;
        color: rgba(255, 255, 255, 1);
        font-size: 200px;
        line-height: 0;
        bottom: -43px;
        right: 30px;
    }
.presentation::after
    {
        position: absolute;
        content: "”";
        font-family: 'Segoe UI', sans-serif;
        color: rgba(255, 255, 255, 1);
        font-size: 200px;
        line-height: 0;
        bottom: 340px;
        left: 30px;
        transform: rotate(180deg);
    }
.arrow
    {
        position: absolute;
        width: 50px;
        height: auto;
        margin: 50px 225px 0;
    }
.arrow:hover
    {
       transform: scale(1.4) translateY(10px);
       transition-duration: 1s;
    }

/*page_menu*/
.page_menu
    {
        height: 100vh;
        overflow: hidden;
    }
.barre_horizontal
    {
        height: 95%;
        width: 5px;
        background-color: #E9E9E9;
        border-radius: 100%;
    }
.menu
    {
        display: flex;
        height: 100vh;
        margin: 0 3%;
        justify-content: space-around;
        align-items: center;
    }
.img:hover
    {
        transform: scale(1.2);
        transition-duration: 1s;
    }
/*barre de navigation*/
.nav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #01b399;
        font-family: dk, sans-serif;
        font-size: 40px;
    }
.nav a
    {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        width: 33%;
        text-decoration: none;
    }
.nav a:hover
    {
        background-color: #00dfc0;
    }
.active
    {
        background-color: #EDEDED;
    }

/*page_exposition*/
.page_expo
    {
        background-color: #EDEDED;
    }
.background_slider
    {
        display: flex;
        margin: 180px 0;
        margin-left: -250px;
        position: fixed;
        z-index: -1;
        animation: 0s linear 2s infinite alternate fond_img;
    }
.back_img
    {
        margin: 15px;
    }
@keyframes fond_img
    {
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-2040px);
        }
        100%{
            transform: translateX(0);
        }
    }
.expo 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        margin: 4% auto 0;
        padding: 2%;
        text-align: justify;
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0.8);
    }
.expo h1
    {
        text-align: center;
        margin: 25px 0;
        padding: 20px 0;
        border: 5px solid black;
        font-family: libel, sans-serif;
    }
p
    {
        margin: 20px 0;
        font-family: dayrom, sans-serif;
        font-size: 30px;
    }

/*image page expo*/
.eb_logo
    {
        float: left;
        margin: 0 50px;
        border-radius: 10px;
    }
.slider
    {
        margin: 20px 0;
        overflow: hidden;
        border: 4px solid white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
.banniere
    {
        width: calc(864px*3);
        animation: mouve 20s infinite;
    }
.slide
    {
        float: left;
    }
@keyframes mouve 
    {
        0% {
            transform: translateX(0);
        }
        11% {
            transform: translateX(0);
        }
        22% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-864px);
        }
        44% {
            transform: translateX(-864px);
        }
        55% {
            transform: translateX(-864px);
        }
        66% {
            transform: translateX(-1728px);
        }
        77% {
            transform: translateX(-1728px);
        }
        88% {
            transform: translateX(-1728px);
        }
        100% {
            transform: translateX(0);
        }
    }
.img_projection
    {
        margin: 20px 0 20px 20px;
        float: right;
        border: 2px solid black;
        border-radius: 10px 0;
        box-shadow: 5px 5px 0px rgb(0, 0, 0);
    }
.video
    {
        margin: 10px auto;
    }
.nav_bas_expo
    {
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
.nav_bas_expo a
    {
        margin: 10px auto;
    }
.nav_bas_expo a:hover
    {
        transform: scale(1.2);
        transition-duration: 1s;
    }